extends app

block TIDORY
  s_t3
    div
      include views/Header
      div(class="pt-32")
        div(class="mx-auto max-w-screen-md xl:max-w-screen-lg px-10 lg:px-0")
          include views/ArticleList
          include views/Article
          | [##revenue_list_lower##]
        include views/Bottom
