s_list
  include Introduce
  p(class="mt-10 text-xl font-bold") 최근 글들을 확인해보세요 →
  div(class="post-list")
    s_list_rep
      article(class="py-5 group post-item")
        a(href="[##_list_rep_link_##]")
          div
            h2(class="text-2xl font-bold group-hover:underline")
              | [##_list_rep_title_text_##]
              span(class="text-base font-normal text-gray-500/50 ml-1") / [##_list_rep_category_##] / [##_list_rep_regdate_##]
            div(class="flex justify-between")
              div(class="mt-1 break-keep w-3/5 max-h-32 line-clamp-5")
                | [##_list_rep_summary_##]
              s_list_rep_thumbnail
                div
                  img(src="[##_list_rep_thumbnail_##]" class="w-full h-32 object-cover rounded-md group-hover:brightness-75")
  div(class="flex justify-end mt-10")
    s_paging
      a([##_next_page_##] class="px-2.5 py-2 rounded-md cursor-pointer hover:bg-gray-100 view-more") 더보기 →

script.
  const viewMoreButton = document.querySelector(".view-more");
  viewMoreButton.addEventListener('click', (e) => {
    e.preventDefault();
    const nextUrl = viewMoreButton.getAttribute("href");
    viewMore(nextUrl);
  });

  function viewMore(url) {
    $.ajax({ url }).done((res) => {
      const $html = $(res);
      const $nextPostItem = $html.find(".post-item");
      const $nextViewMoreHref = $html.find(".view-more").attr("href");

      if ($nextPostItem.length > 0) {
        $(".post-list").append($nextPostItem);
      }

      if (!$nextViewMoreHref) {
        $(".view-more").remove();
      } else {
        $(".view-more").attr("href", $nextViewMoreHref);
      }
    });
  }
