s_article_rep
  s_permalink_article_rep
    article
      h1(class="text-4xl font-bold") [##_article_rep_title_##]
      div(class="mt-2 text-gray-500/70 text-base lg:text-lg")
        | [##_article_rep_category_##] / [##_article_rep_regdate_##] /&nbsp;
        span(class="read-time") 읽는시간 0분 0초
      div(class="mt-10 post-content") [##_article_rep_desc_##]
    s_rp(class="mt-10")
      include Scripts/GiscusComment
    include Scripts/ReadTime
    include Scripts/InlineCodeBlock
