s_article_rep
  s_permalink_article_rep
    article(class="mt-10")
      h1(class="text-4xl font-bold") [##_article_rep_title_##]
      div(class="mt-2 text-gray-500/50 text-lg")
        | [##_article_rep_category_##] / [##_article_rep_regdate_##] /&nbsp;
        span(class="read-time")
      div(class="mt-10") [##_article_rep_desc_##]
    s_rp(class="mt-10")
      include Scripts/GiscusComment
    include Scripts/ReadTime
