footer
  div(class="mt-32 border-t border-gray-100 py-10 flex flex-col items-center text-gray-400")
    p(class="text-center")
      | ⓒ #{new Date().getFullYear()}. Daegyeom Ha All rights reserved.
      br
      | Powered by TISTORY.
