footer
  div(class="mt-32 border-t border-gray-100 py-10 flex flex-col items-center text-gray-400")
    a(href="https://github.com/SkyLightQP/blog.skylightqp.kr" class="text-center text-sm hover:underline")
      | Made with ❤️ by Daegyeom Ha.
