header(class="border-b border-gray-200 px-96 flex justify-between items-center bg-white/50 backdrop-blur fixed w-full z-10")
  a(class="my-3" href="/")
    p(class="font-black text-2xl leading-5 my-2 text-[#35425A] transition-all ease-in-out")
      | daegyeom.
      span(class="italic") log
      br
      span(class="text-gray-400 font-bold text-sm") 대겸.로그
  div(class="flex space-x-4")
    a(href="https://daegyeo.me" class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black transition-all ease-in-out") résumé
    a(href="https://github.com/SkyLightQP" class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black transition-all ease-in-out") github
    //a(class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black" @click="dark = ! dark") theme
