header(class="border-b border-gray-100 px-36 flex justify-between items-center")
  a(class="my-2" href="/")
    p(class="font-black text-2xl leading-4 my-2")
      | DaeGyeom.
      span(class="italic") Log
      br
      span(class="text-gray-400 font-bold text-sm") 대겸.로그
  div(class="flex space-x-4 ")
    a(class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black") blog
    a(class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black") résumé
    //a(class="text-gray-500 px-2 py-1.5  rounded-md cursor-pointer hover:bg-gray-100 hover:text-black" @click="dark = ! dark") theme
