script.
  const elementsInPost = document.querySelectorAll(".post-content p, .post-content h1, .post-content h2, .post-content h3, .post-content li, .post-content code, .post-content blockquote");
  let wordCount = 0;
  elementsInPost.forEach((element) => {
    if (element.textContent === "") return;
    wordCount += element.innerText.split(" ").length;
  });
  const WPM = 170;
  let min = Math.floor(wordCount / WPM);
  let sec = Math.round(((wordCount / WPM - min) * 60) % 60);

  min += Math.floor(sec / 60);
  sec %= 60;

  const readTimeElement = document.querySelector(".read-time");
  readTimeElement.innerText = `읽는시간 ${min}분`;
