@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  html, body {
    @apply font-pretendard;
    color: #131313;
  }

  .menu_toolbar {
    @apply hidden;
  }

  a,
  button {
    @apply pointer-events-auto !important;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-200/70;

  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }
}

@layer utilities {
  .text-hidden {
    @apply absolute w-px h-px -m-px overflow-hidden !important;
  }
}

span.ccode, .post-content p code {
  background-color: #f0f0f0;
  color: #131313;
  margin: 28px auto;
  word-wrap: break-word;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 5px;
  font-family: 'D2Coding', monospace;
}

.post-content pre {
  @apply mx-2;
}

.post-content pre > code {
  @apply p-5;
}

.post-content pre, .post-content code {
  font-family: 'D2Coding', monospace;
  @apply text-sm;
  @apply bg-gray-200/30;
  @apply rounded-lg;
}

.post-content ul, .post-content ol {
  @apply pl-6;
  @apply py-1.5;
}

.post-content {
  & h1, & h2, & h3, & h4, & h5, & p {
    @apply !font-pretendard;
    line-height: 1.8 !important;
  }
}

.post-content h1, h2, h3, h4, h5 {
  @apply mt-5;
  @apply mb-2;
  font-weight: bold !important;
}

.post-content a {
  @apply underline;
  @apply transition-all;
  @apply ease-in-out;

  &:hover {
    @apply text-blue-700;
  }
}

.post-content blockquote {
  @apply border-l-4;
  @apply border-blue-600;
  @apply bg-gray-200/40;
  @apply pl-4 py-2;
  @apply text-gray-600;
}

.tt_box_namecard {
  @apply hidden;
}

.another_category {
  border: none !important;
}

.another_category h4 {
  border-bottom: none !important;
}

.another_category table {
  margin-top: 0 !important;
}
