@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  html, body {
    @apply font-pretendard;
    color: #131313;
  }

  .menu_toolbar {
    @apply hidden;
  }

  a,
  button {
    @apply pointer-events-auto !important;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-200/70;

  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  span.ccode, .post-content p code {
    background-color: #f0f0f0;
    color: #131313;
    margin: 28px auto;
    word-wrap: break-word;
    font-size: 14px;
    border-radius: 6px;
    padding: 4px 5px;
    font-family: 'D2Coding', monospace;
  }

  .post-content h1, h2, h3 {
    @apply mt-5;
    @apply mb-2;
    font-weight: bold !important;
  }

  .post-content pre {
    @apply rounded-md;
    @apply p-2;
  }

  .post-content pre code {
    font-family: 'D2Coding', monospace;
  }

  .post-content ul, ol {
    @apply pl-6;
  }
}

@layer utilities {
  .text-hidden {
    @apply absolute w-px h-px -m-px overflow-hidden !important;
  }
}
